@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Verdana, sans-serif;
    /* color: #fff; */

}

body {
    width: 100%;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url('cl8.jpg');
    background-position: center;
    background-size: cover;
}

/* Logo  */
.logo {
    /* text-transform: uppercase; */
    font-size: 3em;
    color: #fff;
    -webkit-text-stroke: 1px black;
    /* width and color */
    cursor: pointer;
}

.logo span {
    -webkit-text-stroke: 1px black;
    /* width and color */
    color: gold;
    cursor: pointer;
}

/* Navigation */
li,
a {
    font-size: 1em;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

hr {
    margin-top: 50px;
    color: gold;
}

header {
    /* background-color: #285AEB; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 10% 1em 5%;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    position: relative;
    margin: 0 10px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #fff;
    text-shadow: 0 0 0px #fff;
}

.nav-links>li>a::after {
    content: "";
    display: block;
    background-color: gold;
    width: 0%;
    height: 2px;
    margin: auto;
    transition: 0.6s ease;
}

.nav-links li a:hover::after {
    width: 100%;
}

.dropdown {
    display: none;
}

.dropdown ul {
    margin: 0 1em;

}

.dropdown ul li:first-child {
    margin-top: 20px;
}

.dropdown ul li a::after {
    content: "";
    display: block;
    background-color: gold;
    width: 0%;
    height: 2px;
    margin: auto;
    transition: 0.6s ease;
}

.dropdown ul li a:hover::after {
    width: 100%;
}

.nav-links li:hover .dropdown {
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);
    /* border-radius: 5px; */
    background: rgba(255, 255, 255, 0.13);
    /* border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1px); */
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1;
}

.dropdown ul {
    display: block;
}

.dropdown ul li {
    margin: 10px 0;
    width: 145px;
}

/*Footer*/
.footer {
    background-color: #6363637e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* bottom: 0; */
    width: 100%;
}

.fot-links ul {
    /* background-color: #d6249f; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.fot-links ul li {
    padding: 0;
    /* background-color: #34a853; */
    margin: 0px 8px;
    list-style: none;
}

.fot-links ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: initial;
    font-size: 1em;
    opacity: 0.9;
}

.fot-links ul li a:hover {
    text-shadow: 0 0 0px #fff;
    transition: all 0.5s ease 0s;
    opacity: 1;
}

.fot-links ul li a::after {
    content: "";
    display: block;
    background-color: orange;
    width: 0%;
    height: 2px;
    margin: auto;
}

.fot-links ul li a:hover::after {
    transition: all 0.5s ease 0s;
    width: 100%;
}

.footer p {
    color: #fff;
    font-size: 12px;
    opacity: 0.8;
    text-align: center;
    margin: 10px 20px;
    padding: 0 20px;
    /* background-color: rgba(255, 255, 255, 0.486); */
    letter-spacing: 1px;
}

.footer p:hover {
    transition: all 0.8s ease 0s;
    opacity: 1;
}

/*Social*/
.social {
    display: flex;
    width: 100%;
    justify-content: center;
    /* background-color: #46C1F6; */
    margin: 5px;
}

.social a {
    display: flex;
    position: relative;
    color: #f1f1ed;
    margin: 0 7px;
    font-size: 25px;
    transition: 0.7s ease;
}

.social a i {
    opacity: 0.75;
}

#fb:hover {
    color: #3B5999;
    opacity: 1;
    transform: translateY(-1px) scale(1.1);
}

#in:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
    transform: translateY(-1px) scale(1.1);
}

#gl:hover {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    opacity: 1;
    transform: translateY(-1px) scale(1.1);
}

#tw:hover {
    color: #46C1F6;
    opacity: 1;
    transform: translateY(-1px) scale(1.1);
}

#yt:hover {
    color: #de463b;
    opacity: 1;
    transform: translateY(-1px) scale(1.1);
}



/* Body */
.sec1 {
    padding: 3% 30%;
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
}

.sec1 h2 {
    color: gold;
    font-size: 5em;
    font-weight: 600;
    padding: 10PX 0;
    margin-bottom: 20px 0;
}

.sec1 h3 {
    color: rgb(235, 181, 34);
    font-size: 2em;
    font-weight: 600;
    padding: 10PX 0;
}

.sec1 p {
    text-align: justify;
    font-size: 23px;
    line-height: 1.7;
    text-indent: 7%;
    margin-bottom: 30px;
}

.sec1 img {
    max-width: 100%;
    height: auto;
    margin: 1em 0;
}

.sec1 img:hover {
    box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.5);
}

.sec1 a {
    color: rgb(254, 255, 174);
    font-size: 22px;
    font-weight: 600;
    padding: 10PX 0;
}

.contact-section {
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.13);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    /* backdrop-filter: blur(1px); */
    padding: 35px 20px;
}

.contact-section h3 {
    text-align: center;
    font-size: 45px;
    color: gold;
}

.contact-form {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text {
    display: block;
    width: 100%;
    margin: 20px 0;
    border: 0;
    background: rgba(255, 255, 255, 0.6);
    padding: 15px 30px;
    outline: none;
    color: #111;
    font-size: large;
}

.contact-form-text:focus {
    box-shadow: 0 0 1px 2px gold;
}

textarea.contact-form-text {
    resize: none;
    height: 150px;
}

.contact-form-btn {
    float: right;
    text-decoration: none;
    color: #fff;
    border: 2px solid gold;
    border-radius: 25px;
    padding: 10px 25px;
    font-size: 1em;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.contact-form-btn:hover {
    background: gold;
    color: black;
    transition: all 0.5s ease 0s;
}

.social-2 {
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    position: fixed;
    z-index: 1000;
}

.social-2 ul {
    padding: initial;
}

.social-2 ul li {
    list-style-type: none;
    font-size: 22px;
    height: 50px;
    width: 50px;
    padding-left: 15px;
    padding-top: 9px;
    margin-top: 7px;
    /* background-color: rgba(255, 255, 255, 0.438); */
    color: white;
}

.facebook {
    background-color: #3B5999;
}

.twitter {
    background-color: #46C1F6;
    ;
}

.youtube {
    background-color: #de463b;
}

.linkedin {
    background: #007bb5;
}

.instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);

}

.google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
}

.social-2 ul li:hover {
    width: 80px;
    padding-left: 30PX;
    transition: all 0.5s ease 0s;
}

hr {
    margin-top: 50px;
    color: gold;
}

iframe:hover {
    box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.5);
}
